<mat-card class="rounded-4">
  <mat-card-header
    class="d-flex justify-content-between bg-alternative-2 course-header"
  >
    <mat-card-title>{{ curso.categoria }}</mat-card-title>
    <span class="d-flex align-items-center gap-2">
      <mat-icon>schedule</mat-icon>
      {{ curso.horas_demanda }}
    </span>
  </mat-card-header>
  <mat-card-content
    class="d-flex flex-wrap overflow-hidden justify-content-between align-items-center mt-3"
  >
    <div
      class="col-12 col-md-12 col-lg-5 d-flex d-md-flex justify-content-center justify-content-md-center"
    >
      <img [src]="curso.imagen" alt="" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-7 align-items-center mt-4 mt-md-4">
      <p class="titulo-curso">
        {{ curso.nombre }}
      </p>
      <p class="descripcion-curso">
        Asesor: {{ curso.nombre_profesor }} {{ curso.apellidos_profesor }}
      </p>
    </div>
  </mat-card-content>
  <mat-divider class="mt-3"></mat-divider>
  <mat-card-actions class="text-center justify-content-center">
    <button
      [routerLink]="[
        '/code-line/cursos-actualizar-informacion',
        curso.id_curso
      ]"
      mat-button
      color="primary"
    >
      Actualizar información
    </button>
    <button
      [routerLink]="['/code-line/cursos', curso.id_curso]"
      mat-button
      color="primary"
    >
      Ver más
    </button>
  </mat-card-actions>
</mat-card>
