* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

.contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

shared-header {
  position: fixed;
  left: 80px;
  width: calc(100% - 80px);
  height: 68px !important;
  z-index: 300;
  height: 100px;
}

main {
  position: absolute;
  width: 100%;
}

shared-sidenav {
  position: fixed;
  left: 0rem;
  width: 80px;
  height: 100vh;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  background-color: white;
  overflow-x: hidden;
  white-space: nowrap;
}

.side {
  width: 270px;
}

.display-area {
  position: absolute;
  left: 80px;
  top: 68px;
  width: calc(100% - 80px);
  min-height: calc(100vh - 68px);
  z-index: 0;
}

.area-open {
  position: absolute;
  left: 270px;
  top: 68px;
  width: calc(100% - 270px);
  min-height: calc(100vh - 68px);
  z-index: 0;
}

.header-open {
  position: fixed;
  left: 270px;
  width: calc(100% - 270px);
}

.is-active {
  background-color: #c7bef4 !important;
  border-radius: 30px !important;
}
